<%# locals => report_item, show_up, show_down %>

<div class="report-item">
	<span class="report-info">
		<span class="report">
			<% if report_item.reportable.nil? || !report_item.reportable.respond_to?(:name) %>
				&lt;Undefined&gt;
			<% else %>
				<%= report_item.reportable.name %>
			<% end %>
		</span>
		<span class="pivot">
			<% if report_item.pivot.nil? || !report_item.pivot.respond_to?(:name) %>
				[None]
			<% else %>
				<%= report_item.pivot.name %>
			<% end %>
		</span>
	</span>
	<span class="report-item-actions">
		<span class="edit">
			<a href="javascript:void(0)" class="remote-link smallbutton" data-path="<%= edit_mg_report_item_url(:id => report_item.id) %>" data-res=".report-items-model .model">Edit</a>
		</span>
		
		<span class="remove">
			<a href="javascript:void(0)" class="remote-link smallbutton" data-path="<%= destroy_mg_report_item_url(:id => report_item.id) %>" data-res=".report-report-items">Remove</a>
		</span>
		
		<span class="up-down">
			<% if show_up %>
				<a href="javascript:void(0)" class="remote-link smallbutton" data-path="<%= up_mg_report_item_url(:id => report_item.id) %>" data-res=".report-report-items">Up</a>
			<% end %>
			
			<% if show_down %>
				<% if show_up %>/<% end %>
				<a href="javascript:void(0)" class="remote-link smallbutton" data-path="<%= down_mg_report_item_url(:id => report_item.id) %>" data-res=".report-report-items">Down</a>
			<% end %>
		</span>
	</span>
</div>