

<div id="container-main" class="mt-metric-variants">
	<div class="mountain-goat-panel cenetered">
		<ul class="nav">
			<li><a href="<%= mountain_goat_converts_url %>">Goals</a></li>
			<li><a href="<%= mountain_goat_convert_url :id => @metric_variant.metric.convert.id %>"><%=h @metric_variant.metric.convert.name %> Goal</a></li>
			<li><a href="<%= mountain_goat_metric_url :id => @metric_variant.metric.id %>"><%=h @metric_variant.metric.title %></a></li>
		</ul>
		
		<h1><%=h @metric_variant.name %></h1>
		
		<div class="metric-category">
			<div class="item rate">
				<span class="rate-holder">
					<span class="title"><a href="<%= mountain_goat_metric_variant_url @metric_variant %>"><%=h @metric_variant.name %></a></span>
					<span class="rates" style="width:<%= number_to_percentage(@metric_variant.conversion_rate, :precision => 0) %>"></span>
				</span>
				
				<span class="percent-holder">
					<span class="val"><%= number_to_percentage(@metric_variant.conversion_rate, :precision => 0) %></span>
					(<span class="conversions"><%= @metric_variant.conversions %></span> /
					<span class="served"><%= @metric_variant.served %></span>)
				</span>
			</div>
		</div>
		
		<div class="actions">
			<a class="button" href="<%= edit_mountain_goat_metric_variant_url :id => @metric_variant.id %>">Edit</a>
		</div>
	</div>
</div>