
<div id="container-main" class="mt-reports show">
	<div class="mountain-goat-panel centered">
		<ul class="nav">
			<li><a href="<%= mg_reports_url %>">Reports</a></li>
		</ul>		
		
		<div class="reports">
			<div class="explanation">
				<span class="inner">
					All of your reports are listed here.  Reports will be delivered to all recipients on the schedule indicated.
				</span>
			</div>
			
			<div class="reports">
				<% @reports.each do |report| %>
					<h2><a href="<%= mg_report_url :id => report.id %>"><%=h report.title %></a> [<a href="<%= edit_mg_report_url :id => report.id %>">edit</a>]</h2>
				<% end %>
			</div>
		</div>
		
		<div class="actions">
			<a class="button" href="<%= new_mg_report_url %>">New Report</a>
		</div>
	</div>
</div>