<%# locals => f %>

<div class="item test-type">
	<% if f.object.new_record? %>
		<%= f.text_field :test_type %>
		<%= f.label :test_type, 'Test Type (Technical)' %>
	<% else %>
		<h2><%= f.object.test_type %></h2>
		<label>Test Type (Technical)</label>
	<% end %>
</div>			

<div class="item title">
	<%= f.text_field :title %>
	<%= f.label :title %>
</div>

<div class="item tally-each-serve">
	<%= f.check_box :tally_each_serve %>
	<%= f.label :tally_each_serve, "Tally every hit?" %>
</div>
 
<div class="item submit">
	<%= f.submit 'Submit' %>
</div>
