<div id="container-main" class="mg-tests">
	<h1><%=h @test.title.capitalize %> Test</h1>
	<div class="container-content">

		<div class="choices">
			<% if @test.mg_choices.count == 0 %>
				<span class="none">No choices</span>
			<% else %>
				<div class="statboard">
					<div class="flyer-analysis statpad">
						<div class="title">Serves</div>
						<div class="statbody">
							<div id="chart_item_mg_test_#{@test.id}_served %>" data-raphael="pie"
								data-x="<%= @test.mg_choices.map { |c| "'#{c.name}'" }.join(',') %>"
								data-y="<%= @test.mg_choices.map { |c| c.served }.join(',') %>"
								style="width: 425px; height: 260px;" />
						</div>
						
						</div>
					</div>
					<div class="flyer-analysis statpad">
						<div class="title">Avg. Rewards</div>
						<div class="statbody">
							<div id="chart_item_mg_test_#{@test.id}_avg_reward %>" data-raphael="pie"
								data-x="<%= @test.mg_choices.map { |c| "'#{c.name}'" }.join(',') %>"
								data-y="<%= @test.mg_choices.map { |c| c.reward / c.served unless c.reward.blank? || c.served.blank? || c.served == 0 }.join(',') %>"
								style="width: 425px; height: 260px;" />
						</div>
						
						</div>
					</div>
				</div>
		
						
				<div class="choices">
					<% if @test.mg_choices.count == 0 %>
						<span class="none">No choices [<a href="<%= new_mg_test_choice_url :test_id => @test.id %>">Add one</a>]</span>
					<% else %>
						<div class="title-bar">
							<span class="category choice">Choice</span>
							<span class="category served">Served</span>
							<span class="category hit-points">Points</span>
							<span class="category hit-points-avg">Avg. Points</span>
							<span class="category actions">Actions</span>
						</div>
						<ul class="listed">
							<% @test.mg_choices.each do |choice| %>
								<li class="choice">
									<span class="category choice"><%=h choice.name %></span>
									<span class="category served"><%= choice.served %></span>
									<span class="category hit-points"><%= choice.reward || "None" %></span>
									<span class="category hit-points-avg"><%=h choice.avg_points_per_serve || "N/A" %></span>
									<span class="category actions"><a href="<%= edit_mg_choice_url choice %>">Edit</a></span>
								</li>
							<% end %>
						</ul>
					<% end %>
				</div>
			<% end %>
		</div>
		
		<div class="action-bar">
			<a class="button" href="<%= new_mg_test_choice_url :test_id => @test.id %>">New Choice</a>
		</div>
	</div>
</div>