<div id="container-main" class="mg-tests">
	<h1><%=h @test.title.capitalize %> Test</h1>
	<div class="container-content">

		<div class="choices">
			<% if @test.mg_choices.count == 0 %>
				<span class="none">No choices</span>
			<% else %>
				<div class="statboard">
					<div class="flyer-analysis statpad">
						<div class="title">Records</div>
						<div class="statbody">
							<%= mg_chart("analysis_graph#{@test.id}",
												{ "Served" => { :collection => @rates[:served], :x => :choice_type, :y => :value },
													"Reward Count" => { :collection => @rates[:reward_count], :x => :choice_type, :y => :value } },
													{ :xaxis => { :ticks => @rates[:titles].map { |i,t| [i + 0.5, t] }.sort }, :yaxis => { :min => 0, :minTickSize => 1 }, :bars => { :show => true }, :legend => { :show => false, :position => "ne" }, :grid => { :hoverable => true, :clickable => true }, :inline => false }, :placeholder_size => "420x260", :pie_hover => true, :line_hover_absolute => true, :item_title => "record(s)") %>
						
						</div>
					</div>
					<div class="flyer-analysis statpad">
						<div class="title">Reward Rates</div>
						<div class="statbody">
							<%= mg_chart("analysis_conv_graph#{@test.id}",
												{ "Reward Rate" => { :collection => @rates[:reward_rates], :x => :choice_type, :y => :value } },
													{ :xaxis => { :ticks => @rates[:titles].map { |i,t| [i + 0.5, t] }.sort }, :yaxis => { :min => 0, :minTickSize => 1 }, :bars => { :show => true }, :legend => { :show => false, :position => "ne" }, :grid => { :hoverable => true, :clickable => true }, :inline => false }, :placeholder_size => "420x260", :pie_hover => true, :line_hover_absolute => true, :item_title => "") %>
						
						</div>
					</div>
				</div>
		
						
				<div class="choices">
					<% if @test.mg_choices.count == 0 %>
						<span class="none">No choices [<a href="<%= new_mg_test_choice_url :test_id => @test.id %>">Add one</a>]</span>
					<% else %>
						<div class="title-bar">
							<span class="category choice">Choice</span>
							<span class="category served">Served</span>
							<span class="category hit-points">Points</span>
							<span class="category hit-points-avg">Avg. Points</span>
							<span class="category actions">Actions</span>
						</div>
						<ul class="listed">
							<% @test.mg_choices.each do |choice| %>
								<li class="choice">
									<span class="category choice"><%=h choice.name %></span>
									<span class="category served"><%= choice.served %></span>
									<span class="category hit-points"><%= choice.reward || "None" %></span>
									<span class="category hit-points-avg"><%=h choice.reward_rate || "N/A" %></span>
									<span class="category actions"><a href="<%= mg_choice_url choice %>">Edit</a></span>
								</li>
							<% end %>
						</ul>
					<% end %>
				</div>
			<% end %>
		</div>
		
		<div class="action-bar">
			<a class="button" href="<%= new_mg_test_choice_url :test_id => @test.id %>">New Choice</a>
		</div>
	</div>
</div>