<%# locals => record %>

<li class="record" data-record-id="<%= record.id %>">
	<div class="record-context">
		<div class="name"><%= record.mg_goal.name %></div>
		<div class="time"><%= content_tag(:abbr, record.created_at.to_s, :title => record.created_at.getutc.iso8601, :class => "time-ago") %></div>
	</div>

	<ul class="record-content">
		<% record.all_metas.each do |k,v| %>
			<% if !v.blank? %>
				<li><%= k %>: <%= v %></li>
			<% end %>
		<% end %>
	</ul>
</li>