<%# locals => gmt_f %>

<div class="meta">

	<div class="item meta-name">
		<%= gmt_f.text_field :name %>
		<%= gmt_f.label :name, 'Meta Name' %>
	</div>
	
	<% if gmt_f.object.new_record? %>
		<div class="item meta-var">
			<%= gmt_f.text_field :var %>
			<%= gmt_f.label :var, 'Var' %>
		</div>
	<% end %>
	
	<div class="item meta-meta-type">
		<%= gmt_f.select :meta_type, [ [ "Integer", "gi_meta" ], [ "String", "gs_meta" ] ] %>
		<% if gmt_f.object.new_record? %>
			<%= gmt_f.label :meta_type, 'Meta Type' %>
		<% else %>
			<%= gmt_f.label :meta_type, "#{gmt_f.object.var} Type" %>
		<% end %>
	</div>
	
	<div class="item meta-destroy">
		<%= gmt_f.check_box :_destroy %>
		<% if gmt_f.object.new_record? %>
			<%= gmt_f.label :_destroy, "Remove Meta" %>
		<% else %>
			<%= gmt_f.label :_destroy, "Remove #{gmt_f.object.var}" %>
		<% end %>
	</div>
</div>
