<div id="container-main" class="mg-goals show">
	<h1><%=h @goal.name.capitalize %></h1>
	<div class="container-content">
		<div class="statboard">
			<div class="flyer-analysis statpad">
				<div class="title">Records by Day</div>
				<div class="statbody">
					<% if @results_per_day.count > 2 %>
						<div id="chart_item<%=h @goal.id %>" data-raphael="line" data-x-axis="date"
							data-title0="Records"
							data-x0="<%= @results_per_day.map { |i| i[:date] }.join(',') %>"
							data-y0="<%= @results_per_day.map { |i| i[:val] }.join(',') %>"
							style="width: 425px; height: 260px;" />
						</div>
					<% else %>
						Results will populate shortly
					<% end %>
				</div>
			</div>
			
			<% @goal.mg_goal_meta_types.each do |gmt| %>
				<div class="flyer-analysis statpad">
					<div class="title">Records by <%=h gmt.name %></div>
					<div class="statbody">					
						<div id="chart_item_gmt_<%=h gmt.id %>" data-raphael="pie" data-x-axis="date"
							<% if gmt.meta_type == 'ci_meta' || gmt.meta_type == 'gi_meta' %>
								data-title="<%= @results_by_gmt[gmt.id].map { |i| "'#{( i[:title] || "(Blank)" )}'" }.join(',') %>"
								data-x="<%= @results_by_gmt[gmt.id].map { |i| i[:name] }.join(',') %>"
							<% else %>
								data-x="<%= @results_by_gmt[gmt.id].map { |i| "'#{i[:name]}'" }.join(',') %>"
							<% end %>
							data-y="<%= @results_by_gmt[gmt.id].map { |i| i[:val] }.join(',') %>"
							style="width: 425px; height: 260px;" />
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>